/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./app/styles/projects/projectStyles.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.projectStyles_projectText__JPVH9 {
  display: flex;
  flex-direction: column;
}

.projectStyles_projectFilter__4wz6W {
  padding: 15px;
}

.projectStyles_allSkills__Xib9C {
  overflow: hidden;
  border-bottom: 1px solid white;
  padding: 15px;
}
.projectStyles_allSkills__Xib9C::-webkit-scrollbar {
  color: white;
  background: none;
}

.projectStyles_showThis__86EVk {
  height: 640px;
  padding: 15px;
  transition: height cubic-bezier(0, 0, 0, 1) 0.5s;
}

.projectStyles_hideThis__BqQ9Q {
  height: 0px;
  padding: unset;
  transition: height cubic-bezier(0, 0, 0, 1) 0.5s;
}

.projectStyles_allSkillBtnGroup__z0bta button {
  font-size: 1.4rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}
.projectStyles_allSkillBtnGroup__z0bta .projectStyles_allSkillMainBtn__WooD3 {
  width: 250px;
}
.projectStyles_allSkillBtnGroup__z0bta .projectStyles_allSkillChevBtn__sZ_sO:hover > i {
  color: black;
}

.projectStyles_btnRotatefalse__e7nUo {
  display: inline-block;
  transform: rotate(90deg);
  transition: transform 0.2s ease-in-out;
}

.projectStyles_btnRotatetrue__aftyt {
  display: inline-block;
  transform: unset;
  transition: transform 0.2s ease-in-out;
}
