.workItemSkills {
    ul{
        list-style-type: none;
        padding: 0;
    }
}
.allSkillBtn{
    button{
        width:200px;
    }
}
.allSkills{
    overflow: scroll;
    overflow-x: hidden;
    border-bottom: 1px solid white;
}
.allSkills::-webkit-scrollbar{
    color: white;
    background: none;
}
.otherSkills, .allSkills{
    transition: all cubic-bezier(0,0,0,1) 0.5s;
}
.showThis{
    height: 1000px;
    transition: height cubic-bezier(0,0,0,1) 0.5s;
}
.hideThis{
    height: 0px;
    transition: height cubic-bezier(0,0,0,1) 0.5s;
}
.certRow figure{
    height: 250px
}
