$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Bebas Neue', sans-serif;
.workItem{
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
    min-height: 420px;
}
.workItemSkills {
    height: 180px;
    ul{
        list-style-type: none;
        padding: 0;
    }
}
.allSkillBtnGroup{
    button{
        font-size: 1.4rem;
        font-family: $secondary-font;
        font-weight: 400;
    }
    .allSkillMainBtn{
        width: 250px;
    }
    .allSkillChevBtn:hover > i{
        color: black;
    }
}
.btnRotatefalse{
    display: inline-block;
    transform: rotate(90deg);
    transition: transform 0.2s ease-in-out;
}
.btnRotatetrue{
    display: inline-block;
    transform: unset;
    transition: transform 0.2s ease-in-out;
}
.allSkills, .expDesc{
    overflow: hidden;
    padding: unset;
    &::-webkit-scrollbar{
        color: white;
        background: none;
    }
}
.allSkills{
    border-bottom: 1px solid white;
}
.expDesc{
    
}
.otherSkills, .allSkills, .expDesc{
    transition: all cubic-bezier(0,0,0,1) 0.5s;
}
.showThis{
    height: 1000px;
    transition: height cubic-bezier(0,0,0,1) 0.5s;
}
.hideThis{
    height: 0px;
    transition: height cubic-bezier(0,0,0,1) 0.5s;
}

.expSection{
    border-bottom: 1px solid white;
}

.certRow figure{
    height: 250px
}

/*job items*/
.jobTitle{
    height: 75px;
}
.jobTenure{
    display: block;

}
.companyName{
    display: block;
}