$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Bebas Neue', sans-serif;
.workItem{
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
    min-height: 420px;
}
.workItemSkills {
    height: 180px;
    ul{
        list-style-type: none;
        padding: 0;
    }
}
.allSkills, .expDesc{
    overflow: hidden;
    padding: unset;
    &::-webkit-scrollbar{
        color: white;
        background: none;
    }
}
.allSkills{
    border-bottom: 1px solid white;
}
.otherSkills, .allSkills, .expDesc{
    transition: all cubic-bezier(0,0,0,1) 0.5s;
}
.showThis{
    max-height: 1300px;
    padding: 15px;
    transition: max-height cubic-bezier(0,0,0,1) 0.5s;
}
.hideThis{
    max-height: 0px;
    padding: unset;
    transition: max-height cubic-bezier(0,0,0,1) 0.5s;
}

.expSection{
    border-bottom: 1px solid white;
}

.certRow figure{
    height: 250px
}

/*job items*/
.jobTitle{
    height: 75px;
}
.jobTenure{
    display: block;

}
.companyName{
    display: block;
}
.skillItemWrapper{
    figure{
        div{
            display: none;
            @media screen and (min-width: 440px){
                display: inline-block;
            }
        }
    }
}