.topNav{
    min-height: 75px;
}
.navbarNav{
    width: 100%;
}
.hamb{
    width: 100%;
    outline: none;
    background: none;
    border: none;
    i{
        font-size: 2rem;
    }
}
.navItem{
    .hide{
        opacity: 0;
    }
}
/*page indicator using bootstrap display*/
.navInd{
    transition: opacity .2s ease-in-out;
} 
.d-none{
    transition: display .3s ease-in-out;
}