$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Bebas Neue', sans-serif;
.projectText{
    display: flex;
    flex-direction: column;
}
.projectFilter{
    padding: 15px;
}
.allSkills{
    overflow: hidden;
    border-bottom: 1px solid white;
    padding: 15px;
    &::-webkit-scrollbar{
        color: white;
        background: none;
    }
}
.showThis{
    max-height: 950px;
    padding: 15px;
    transition: min-height cubic-bezier(0,0,0,1) 0.5s;
    @media screen and (min-width: 768px){
        max-height: 730px;
    }
}
.hideThis{
    max-height: 0px;
    padding: unset;
    transition: max-height cubic-bezier(0,0,0,1) 0.5s;
}
.allSkills, .expDesc{
    overflow: hidden;
    padding: unset;
    &::-webkit-scrollbar{
        color: white;
        background: none;
    }
}
.allSkills{
    border-bottom: 1px solid white;
}
.otherSkills, .allSkills, .expDesc{
    transition: all cubic-bezier(0,0,0,1) 0.5s;
}
.filterBtnWrapper{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    width: 300px;
    @media screen and (min-width: 768px){
        width: 100%;
        
    }
    .clearFilterButton{
        color: white;
        padding: 10px;
        font-size: 1.4rem;
        font-family: $secondary-font;
        font-weight: 400;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        &:hover, &:active{
            background-color: #ff0000;
            color: white;
        }
    }
}