/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./app/styles/contact/contactStyles.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.contactStyles_contactForm__gX8DO {
  padding: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: saturate(180%) blur(15px);
          backdrop-filter: saturate(180%) blur(15px);
}

.contactStyles_contactForm__gX8DO input, .contactStyles_contactForm__gX8DO textarea {
  background: none;
  color: white;
}

.contactStyles_contactForm__gX8DO input::placeholder, .contactStyles_contactForm__gX8DO textarea::placeholder {
  color: white;
  font-style: italic;
}

.contactStyles_formRow__o9pjY fieldset {
  margin-top: 10px;
  margin-bottom: 10px;
}
.contactStyles_formRow__o9pjY fieldset label {
  margin-bottom: 5px;
}

.contactStyles_formRow__o9pjY input:active, .contactStyles_formRow__o9pjY textarea:active,
.contactStyles_formRow__o9pjY input:focus, .contactStyles_formRow__o9pjY textarea:focus {
  background: none;
  border: 1px solid white;
  color: white;
}

.contactStyles_req__wJ0L2::after {
  content: "*";
  color: rgb(255, 255, 255);
  display: inline-block;
  margin-left: 5px;
  font-size: 1.3rem;
}

.contactStyles_contactInfo__EDMDN h2 {
  font-size: 2rem;
}

.contactStyles_contactLink__fuJA9 {
  width: 250px;
  font-size: 1.5rem;
}

.contactStyles_contactLink__fuJA9 i {
  font-size: 1.5rem;
}

.contactStyles_copyIcon__qdqYR {
  color: rgba(255, 255, 255, 0);
  transition: color 0.2s ease-in-out;
}

.contactStyles_copyIconShow__Z5cQK {
  color: rgb(255, 255, 255);
  transition: color 0.2s ease-in-out;
}
