/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./app/styles/nav/navStyles.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.navStyles_topNav__qqFNn {
  min-height: 75px;
}

.navStyles_navbarNav__WLSTB {
  width: 100%;
}

.navStyles_hamb__3bJgo {
  width: 100%;
  outline: none;
  background: none;
  border: none;
}
.navStyles_hamb__3bJgo i {
  font-size: 2rem;
}

.navStyles_navItem__6A9Yd .navStyles_hide__8HObS {
  opacity: 0;
}

.navStyles_navLink__t99pw {
  font-size: 1.6rem;
  text-align: center;
  text-shadow: none;
  transition: text-shadow 0.3s ease-in-out;
}
.navStyles_navLink__t99pw:hover {
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.537254902), 1px -1px 3px rgba(255, 255, 255, 0.537254902), -1px 1px 1px rgba(255, 255, 255, 0.537254902), 1px 1px 1px rgba(255, 255, 255, 0.537254902);
}

/*page indicator using bootstrap display*/
.navStyles_navInd__IdVxI {
  transition: opacity 0.2s ease-in-out;
}

.navStyles_d-none__bBMIL {
  transition: display 0.3s ease-in-out;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./app/styles/styles.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/*Cross-page styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("https://portfolio2023bucket.s3.amazonaws.com/bg-mist-resize.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-backdrop-filter: saturate(180%) blur(15px);
          backdrop-filter: saturate(180%) blur(15px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  margin-bottom: auto;
  margin-top: 25px;
}

footer ul li i {
  font-size: 2rem;
}

section {
  /*margin: 80px auto;*/
  padding: 30px 0;
}

h1, h2, h3, .bigText {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

/*general body styles*/
.pgMain {
  padding: 30px;
  border-radius: 10px;
}

.bigTitle {
  font-size: calc(4rem + 1.3vw);
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .bigTitle {
    font-size: 5rem;
  }
}

.flavorText {
  display: block;
  margin-bottom: 40px;
}

.skillIcon {
  font-size: 3rem;
  margin-right: 10px;
  margin-bottom: 10px;
}

.navLink {
  font-size: 1.6rem;
  text-align: center;
  text-shadow: none;
  transition: text-shadow 0.3s ease-in-out;
}
.navLink:hover {
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.537254902), 1px -1px 3px rgba(255, 255, 255, 0.537254902), -1px 1px 1px rgba(255, 255, 255, 0.537254902), 1px 1px 1px rgba(255, 255, 255, 0.537254902);
}
