/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./app/styles/home/homeStyles.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.homeStyles_pgHome__XcjuT {
  margin-bottom: unset;
  margin-top: unset; /*Home doesn't need the same margin adjustments as the other pages*/
}

.homeStyles_flavorText__9Bh_Q, .homeStyles_softEngi__b5Ntt {
  font-size: calc(1.5rem + 1.3vw);
}
@media (min-width: 992px) {
  .homeStyles_flavorText__9Bh_Q, .homeStyles_softEngi__b5Ntt {
    font-size: 2.4rem;
  }
}

.homeStyles_homeCTA__VxnZQ {
  min-height: 300px;
  text-align: center;
  justify-content: space-between;
}

.homeStyles_ctaLink__6SPRR {
  margin: 10px 0;
}
.homeStyles_ctaLink__6SPRR a {
  color: white;
  font-size: 1.5rem;
}

.homeStyles_homeLinks__y7rJi {
  margin-top: 50px;
}

.homeStyles_homeCTA__VxnZQ span a {
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  width: 200px;
}

.homeStyles_navLink__3FWc8 {
  font-size: 1.6rem;
  text-align: center;
  text-shadow: none;
  transition: text-shadow 0.3s ease-in-out;
}
.homeStyles_navLink__3FWc8:hover {
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.537254902), 1px -1px 3px rgba(255, 255, 255, 0.537254902), -1px 1px 1px rgba(255, 255, 255, 0.537254902), 1px 1px 1px rgba(255, 255, 255, 0.537254902);
}
