/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./app/styles/about/aboutStyles.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.aboutStyles_workItemSkills__QicPl ul {
  list-style-type: none;
  padding: 0;
}

.aboutStyles_allSkillBtnGroup__XEivu button {
  font-size: 1.4rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}
.aboutStyles_allSkillBtnGroup__XEivu .aboutStyles_allSkillMainBtn__JM1RY {
  width: 250px;
}
.aboutStyles_allSkillBtnGroup__XEivu .aboutStyles_allSkillChevBtn___zWFU:hover > i {
  color: black;
}

.aboutStyles_btnRotatefalse__vUyr2 {
  display: inline-block;
  transform: rotate(90deg);
  transition: transform 0.2s ease-in-out;
}

.aboutStyles_btnRotatetrue__UAk_G {
  display: inline-block;
  transform: unset;
  transition: transform 0.2s ease-in-out;
}

.aboutStyles_allSkills__1LHA0 {
  overflow: hidden;
  border-bottom: 1px solid white;
  padding: unset;
}
.aboutStyles_allSkills__1LHA0::-webkit-scrollbar {
  color: white;
  background: none;
}

.aboutStyles_otherSkills__7I9WO, .aboutStyles_allSkills__1LHA0 {
  transition: all cubic-bezier(0, 0, 0, 1) 0.5s;
}

.aboutStyles_showThis__fGrEz {
  height: 1000px;
  transition: height cubic-bezier(0, 0, 0, 1) 0.5s;
}

.aboutStyles_hideThis__4rQ4C {
  height: 0px;
  transition: height cubic-bezier(0, 0, 0, 1) 0.5s;
}

.aboutStyles_expSection__DPAje {
  border-bottom: 1px solid white;
}

.aboutStyles_certRow__Debw6 figure {
  height: 250px;
}
